---
title: I deployed to Netlify!
layout: layouts/base.njk
---


<h2 id="get-yours">What is Chowkhat?</h2>

<p>
  Oh hi! Welcome to the future of handmade products shopping. {% if details.name %}{{ details.name }}{% else %}We{% endif %} have worked hard to provide you with a one stop shop of all handmade products. Started out with beautiful Chikankari collection from Lucknow.
</p>
<p>
  At Chowkhat, we are on a mission to make handmade products accessible and affordable for all, starting from INR 99, unlike rich labels, we wish to provide artisans their worth by being face of the products they stitch and build.
</p>
<p>
  <a href="https://www.instagram.com/chowkhat/">
    <img src="https://www.netlify.com/img/deploy/button.svg" alt="Check out Chowkhat">
  </a>
</p>
<h2>How can I shop?</h2>
<p>
  Try out a our products on our Instagram, Facebook and WhatsApp store for now. We would be launching our website soon.
</p>

<ol>
  <li><a href="https://www.instagram.com/chowkhat/">Instagram</a></li>
  <li><a href="https://www.facebook.com/chowkhat">Facebook</a></li>
  <li><a href="/next-steps/#form">Add a form</a>WhatsApp</li>
</ol>
