---
title: Chowkhat Handmade Store | Shop Handmade Kurtis & Accessories Online
layout: layouts/base.njk
---


<h2 id="get-yours">What is Chowkhat?</h2>

<p>
  Welcome to the future - handmade products online shop. At {% if details.name %}{{ details.name }}{% else %}{% endif %} we have worked hard to provide you with the beautiful handmade products at affordable rates across India. Started out with Chikankari collection from Lucknow. We sold 200+ products in our first month of launch itself.
</p>
<p>
  At Chowkhat, we are on a mission to make handmade products accessible and affordable for all, starting from INR 99, unlike rich labels, we wish to provide artisans their worth by being face of the products they stitch and build.
</p>
<p>
  <a href="https://www.instagram.com/chowkhat/">
    <img src="/images/chowkhatlogo.png" alt="Check out Chowkhat" style="width:50%;">
  </a>
</p>
<h2>How can I shop?</h2>
<p>
  Try out our products on Instagram, Facebook and WhatsApp store for now. We would be launching our website soon.
</p>

<ol>
  <li><a href="https://www.instagram.com/chowkhat/">Instagram</a></li>
  <li><a href="https://www.facebook.com/chowkhat">Facebook</a></li>
  <li><a href="https://wa.me/918178615113">WhatsApp</a></li>
</ol>
